# Module: Pandas Assignments

## Lesson: Pandas

In [3]:
import pandas as pd
import numpy as np

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [4]:
df = pd.DataFrame(np.random.randint(1, 101, size=(6, 4)), columns=["A", "B", "C", "D"])
print("Original DataFrame:")
print(df)

df.set_index("A", inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  52  65   8  41
1  69  90  16  79
2   7   8  12  46
3  97  91  45  24
4  70  65   6  67
5  76  81  24  88
DataFrame with new index:
     B   C   D
A
52  65   8  41
69  90  16  79
7    8  12  46
97  91  45  24
70  65   6  67
76  81  24  88

In [6]:
df = pd.DataFrame(np.random.randint(1, 101, size=(3, 3)), columns=["A", "B", "C"], index=["X", "Y", "Z"])
print("Original DataFrame:")
print(df)

element = df.at["Y", "B"]
print("Element at row 'Y' and column 'B':", element)

element = df.iat[1, 1]
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  40  19  27
Y  17  85  85
Z  62  73  58
Element at row 'Y' and column 'B': 85
Element at row 'Y' and column 'B': 85

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [7]:
df = pd.DataFrame(np.random.randint(1, 101, size=(5, 3)), columns=["A", "B", "C"])
print("Original DataFrame:")
print(df)

df["Product"] = df["A"] * df["B"]
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0   8  40  20
1  86  42  75
2  27  49  61
3  25   3  66
4  27  50  58
DataFrame with new column:
    A   B   C  Product
0   8  40  20      320
1  86  42  75     3612
2  27  49  61     1323
3  25   3  66       75
4  27  50  58     1350

In [8]:
df = pd.DataFrame(np.random.randint(1, 101, size=(4, 3)), columns=["A", "B", "C"])
print("Original DataFrame:")
print(df)

row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)
print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  62  99  21
1  91  89  37
2  11  16  31
3  99  85  84
Row-wise sum:
0    182
1    217
2     58
3    268
dtype: int64
Column-wise sum:
A    263
B    289
C    173
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [9]:
df = pd.DataFrame(np.random.randint(1, 101, size=(5, 3)), columns=["A", "B", "C"])
print("Original DataFrame:")
print(df)

df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A    B   C
0  42  100  24
1  70    7   2
2  50   43  35
3   4    7  49
4  84    5  53
DataFrame with NaN values:
      A     B     C
0  42.0   NaN  24.0
1  70.0   7.0   2.0
2  50.0  43.0   NaN
3   4.0   7.0  49.0
4   NaN   5.0  53.0
DataFrame with NaN values filled:
      A     B     C
0  42.0  15.5  24.0
1  70.0   7.0   2.0
2  50.0  43.0  32.0
3   4.0   7.0  49.0
4  41.5   5.0  53.0

In [11]:
df = pd.DataFrame(np.random.randint(1, 101, size=(6, 4)), columns=["A", "B", "C", "D"])
print("Original DataFrame:")
print(df)

df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  35  33  19  39
1  69  90   8  47
2  35  44  50  67
3  10  44  83  32
4  78  29  43  97
5   2  99   3  26
DataFrame with NaN values:
      A     B     C   D
0  35.0  33.0  19.0  39
1  69.0  90.0   NaN  47
2  35.0  44.0  50.0  67
3   NaN  44.0  83.0  32
4  78.0  29.0  43.0  97
5   2.0   NaN   3.0  26
DataFrame with NaN values dropped:
      A     B     C   D
0  35.0  33.0  19.0  39
2  35.0  44.0  50.0  67
4  78.0  29.0  43.0  97

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [12]:
data = {
    "Category": np.random.choice(["A", "B", "C"], size=10),
    "Value": np.random.randint(1, 101, size=10)
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

grouped = df.groupby("Category")["Value"].agg(["sum", "mean"])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        C     24
1        C     54
2        B     40
3        C     68
4        C     10
5        B     61
6        C     18
7        A      7
8        B     12
9        C     94
Grouped DataFrame:
          sum       mean
Category
A           7   7.000000
B         113  37.666667
C         268  44.666667

In [13]:
data = {
    "Product": np.random.choice(["X", "Y", "X"], size=10),
    "Category": np.random.choice(["A", "B", "C"], size=10),
    "Sales": np.random.randint(1, 101, size=10)
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

grouped = df.groupby("Category")["Sales"].sum()
print(grouped)

Original DataFrame:
  Product Category  Sales
0       Y        A     28
1       X        B     43
2       X        C     87
3       X        B     54
4       Y        C     29
5       X        B     16
6       X        C     18
7       X        A     95
8       Y        C     66
9       Y        B      3
Category
A    123
B    116
C    200
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [15]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged = pd.merge(df1, df2, on="Key")
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      62
1   B      90
2   C      11
3   D       3
DataFrame 2:
  Key  Value2
0   A      48
1   B      80
2   C      93
3   E      92
Merged DataFrame:
  Key  Value1  Value2
0   A      62      48
1   B      90      80
2   C      11      93

In [17]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=4), 'D': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  72  94
1  41  41
2  42  60
DataFrame 2:
    C   D
0   5  84
1  87  79
2   7  20
3  16   4
Concatenated DataFrame (rows):
      A     B     C     D
0  72.0  94.0   NaN   NaN
1  41.0  41.0   NaN   NaN
2  42.0  60.0   NaN   NaN
0   NaN   NaN   5.0  84.0
1   NaN   NaN  87.0  79.0
2   NaN   NaN   7.0  20.0
3   NaN   NaN  16.0   4.0
Concatenated DataFrame (columns):
      A     B   C   D
0  72.0  94.0   5  84
1  41.0  41.0  87  79
2  42.0  60.0   7  20
3   NaN   NaN  16   4

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [18]:
date_rng = pd.date_range(start="2024-01-01", end="2024-12-31", freq="D")
df = pd.DataFrame(date_rng, columns=["date"])
df["data"] = np.random.randint(1, 101, size=len(date_rng))
df.set_index("date", inplace=True)
print("Original DataFrame:")
print(df)

monthly_mean = df.resample("M").mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2024-01-01    24
2024-01-02    85
2024-01-03     8
2024-01-04    48
2024-01-05    90
...          ...
2024-12-27    29
2024-12-28     6
2024-12-29     7
2024-12-30    36
2024-12-31     8

[366 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2024-01-31  39.612903
2024-02-29  47.724138
2024-03-31  53.000000
2024-04-30  58.266667
2024-05-31  55.870968
2024-06-30  52.733333
2024-07-31  45.161290
2024-08-31  51.741935
2024-09-30  42.133333
2024-10-31  52.387097
2024-11-30  55.366667
2024-12-31  37.677419

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_13660\1828066544.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample("M").mean()

In [20]:
date_rng = pd.date_range(start="2021-01-01", end="2021-12-31", freq="D")
df = pd.DataFrame(date_rng, columns=["date"])
df["data"] = np.random.randint(1, 101, size=len(date_rng))
df.set_index("date", inplace=True)
print("Original DataFrame:")
print(df)

rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    82
2021-01-02    67
2021-01-03    90
2021-01-04    92
2021-01-05    67
...          ...
2021-12-27    60
2021-12-28    29
2021-12-29    33
2021-12-30    83
2021-12-31    67

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  54.857143
2021-12-28  45.285714
2021-12-29  38.857143
2021-12-30  40.142857
2021-12-31  46.285714

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [21]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=("Category", "SubCategory"))
df = pd.DataFrame(np.random.randint(1, 101, size=(4, 3)), index=index, columns=["Value1", "Value2", "Value3"])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              15      16      56
         two              63      66      80
B        one              61      51      87
         two              10      41      63
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              15      16      56
two              63      66      80
Slicing at Category 'B' and SubCategory 'two':
Value1    10
Value2    41
Value3    63
Name: (B, two), dtype: int32

In [ ]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=("Category", "SubCategory"))
df = pd.DataFrame(np.random.randint(1, 101, size=(4, 3)), index=index, columns=["Value1", "Value2", "Value3"])
print("MultiIndex DataFrame:")
print(df)

sum_each_category = df.groupby(level=0).sum()
print("Sum of each category:")
print(sum_each_category)

sum_each_subcategory = df.groupby(level=1).sum()
print("Sum of each subcategory:")
print(sum_each_subcategory)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              56      67      71
         two              17       4      88
B        one              34      29      59
         two              16      67      66
Sum of each category:
          Value1  Value2  Value3
Category
A             73      71     159
B             50      96     125
Sum of each subcategory:
             Value1  Value2  Value3
SubCategory
one              90      96     130
two              33      71     154

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [26]:
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

pivot_table = df.pivot_table(values="Value", index="Date", columns="Category", aggfunc="sum")
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-06        A     54
1  2022-01-09        C     61
2  2022-01-06        C     75
3  2022-01-02        A     13
4  2022-01-06        A     78
5  2022-01-04        A     43
6  2022-01-05        A     58
7  2022-01-10        C     52
8  2022-01-05        A     32
9  2022-01-09        C     53
10 2022-01-03        B     68
11 2022-01-07        A     68
12 2022-01-06        C     76
13 2022-01-06        B     99
14 2022-01-02        A      3
15 2022-01-02        C     12
16 2022-01-01        B     39
17 2022-01-04        A     97
18 2022-01-05        C     76
19 2022-01-01        A     85
Pivot Table:
Category        A     B      C
Date
2022-01-01   85.0  39.0    NaN
2022-01-02   16.0   NaN   12.0
2022-01-03    NaN  68.0    NaN
2022-01-04  140.0   NaN    NaN
2022-01-05   90.0   NaN   76.0
2022-01-06  132.0  99.0  151.0
2022-01-07   68.0   NaN    NaN
2022-01-09    NaN   NaN  114.0
2022-01-10    NaN   NaN   52.0

In [27]:
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

pivot_table = df.pivot_table(values="Revenue", index="Year", columns="Quarter", aggfunc="mean")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2021      Q2      895
1   2021      Q4      686
2   2020      Q2      293
3   2021      Q1      406
4   2020      Q1       84
5   2021      Q2      130
6   2021      Q2      654
7   2020      Q1      997
8   2022      Q2      700
9   2022      Q4      521
10  2020      Q1      871
11  2021      Q4      313
Quarter          Q1          Q2     Q4
Year
2020     650.666667  293.000000    NaN
2021     406.000000  559.666667  499.5
2022            NaN  700.000000  521.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [31]:
df = pd.DataFrame(np.random.randint(1, 101, size=(5, 3)), columns=["A", "B", "C"])
print(df)

## apply dilakukan ke per baris atau per kolom
# df_1 = df.apply(lambda x: x.mean())
# print(df_1)

## applymap ke setiap 1 elemen
df = df.applymap(lambda x: x * 2)
print(df)

    A   B   C
0  63  90   5
1  70   8  62
2   2  20  74
3  46  19  44
4  88  34   6
     A    B    C
0  126  180   10
1  140   16  124
2    4   40  148
3   92   38   88
4  176   68   12

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_13660\1760242752.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x * 2)

In [35]:
df = pd.DataFrame(np.random.randint(1, 101, size=(6, 3)), columns=["A", "B", "C"])
print(df)

df["Sum"] = df.apply(lambda row: row.sum(), axis=1)
print(df)

    A   B   C
0  72   2  96
1  28  20  40
2  76  50  44
3  72  69  27
4  28  37  36
5  50  98  21
    A   B   C  Sum
0  72   2  96  170
1  28  20  40   88
2  76  50  44  170
3  72  69  27  168
4  28  37  36  101
5  50  98  21  169

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [36]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

uppercase_data = text_data.str.upper()
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

In [37]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

first_three_chars = text_data.str[:3]
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
0    app
1    ban
2    che
3    dat
4    eld
dtype: object