# SQLite3

In [1]:
import sqlite3

## Connect to an SQLite Database

In [2]:
connection = sqlite3.connect("example.db")

connection

In [3]:
cursor = connection.cursor()

## Create a Table

In [4]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS employees(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
    )
""")

## commit the changes
connection.commit()

## Insert Data

In [5]:
cursor.execute("""
    INSERT INTO employees(name, age, department)
        VALUES
               ("Andre", 19, "Machine Learning Engineer"),
               ("Alya", 20, "UI/UX Designer"),
               ("Endriano", 19, "Backend Developer")
""")

connection.commit()

## Query Data from Table

In [6]:
cursor.execute("""
    SELECT * FROM employees
""")

rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Andre', 19, 'Machine Learning Engineer')
(2, 'Alya', 20, 'UI/UX Designer')
(3, 'Endriano', 19, 'Backend Developer')

## Update Data

In [7]:
cursor.execute("""
    UPDATE employees SET age=20 WHERE name="Andre"
""")

connection.commit()

In [8]:
cursor.execute("""
    SELECT * FROM employees
""")

rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Andre', 20, 'Machine Learning Engineer')
(2, 'Alya', 20, 'UI/UX Designer')
(3, 'Endriano', 19, 'Backend Developer')

## Delete Data

In [9]:
cursor.execute("""
    DELETE FROM employees WHERE name="Alya"
""")

connection.commit()

In [10]:
cursor.execute("""
    SELECT * FROM employees
""")

rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Andre', 20, 'Machine Learning Engineer')
(3, 'Endriano', 19, 'Backend Developer')

## Working with Sales Data

In [12]:
connection = sqlite3.connect("sales_data.db")
cursor = connection.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS sales(
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        product TEXT NOT NULL,
        sales INTEGER,
        region TEXT
    )
""")

sales_data = [
    ("2023-01-01", "Product1", 100, "North"),
    ("2023-01-02", "Product2", 200, "South"),
    ("2023-01-03", "Product1", 150, "East"),
    ("2023-01-04", "Product3", 250, "West"),
    ("2023-01-05", "Product2", 300, "North"),
]

cursor.executemany("""
    INSERT INTO sales(date, product, sales, region)
        VALUES(?, ?, ?, ?)
""", sales_data)

connection.commit()

In [13]:
cursor.execute("""
    SELECT * FROM sales
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

## Close Connection

In [14]:
connection.close()

In [15]:
cursor.execute("""
    SELECT * FROM sales
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.