# Data Structures

## List

### Creating List

In [260]:
lst = []

print(type(lst))

<class 'list'>

In [261]:
names = ["Alya", "Andre", "Felicia", 10, 40, 46]

print(names)

['Alya', 'Andre', 'Felicia', 10, 40, 46]

In [262]:
mixed_list = [1, "Andre", 3.14, True]

print(mixed_list)

[1, 'Andre', 3.14, True]

### Accessing List

In [263]:
fruits = ["Apple", "Banana", "Cherry", "Kiwi"]

print(fruits[0])
print(fruits[2])
print(fruits[3])

print(fruits[-1])
print(fruits[-2])
print(fruits[-3])
print(fruits[-4])

Apple
Cherry
Kiwi
Kiwi
Cherry
Banana
Apple

In [264]:
print(fruits[1:])

['Banana', 'Cherry', 'Kiwi']

In [265]:
print(fruits[:3])

['Apple', 'Banana', 'Cherry']

In [266]:
print(fruits[1:3])

['Banana', 'Cherry']

In [267]:
print(fruits[-1:-3:-1])

['Kiwi', 'Cherry']

In [268]:
print(fruits[:-1])

['Apple', 'Banana', 'Cherry']

### Modifying List Elements

In [269]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [270]:
fruits[1] = "Watermelon"

fruits

['Apple', 'Watermelon', 'Cherry', 'Kiwi']

### List Methods

In [271]:
fruits.append("Orange")

fruits

['Apple', 'Watermelon', 'Cherry', 'Kiwi', 'Orange']

In [272]:
fruits.insert(1, "Watermelon")

fruits

['Apple', 'Watermelon', 'Watermelon', 'Cherry', 'Kiwi', 'Orange']

In [273]:
fruits.remove("Watermelon") ## Removing the first occurrence of an item

fruits

['Apple', 'Watermelon', 'Cherry', 'Kiwi', 'Orange']

In [274]:
## Remove and return the last
popped_fruits = fruits.pop()

print(popped_fruits)
print(fruits)

Orange
['Apple', 'Watermelon', 'Cherry', 'Kiwi']

In [275]:
index = fruits.index("Cherry")

print(index)

2

In [276]:
fruits.insert(2, "Banana")

print(fruits)
print(fruits.count("Banana"))

['Apple', 'Watermelon', 'Banana', 'Cherry', 'Kiwi']
1

In [277]:
fruits.sort() ## Sort the list in ascending order

print(fruits)

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Watermelon']

In [278]:
fruits.reverse()

print(fruits)

['Watermelon', 'Kiwi', 'Cherry', 'Banana', 'Apple']

In [279]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

### Slicing List

In [280]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [281]:
numbers[::-2]

[10, 8, 6, 4, 2]

### Iterating Over List

In [282]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [283]:
## Iterating with index
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

### List Comprehension

Basic Syntax [expression for item in iterable]  
With Condition [expression for item in iterable if condition]  
Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [284]:
lst = []
for x in range(10):
    lst.append(x ** 2)

lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Basic List Comprehension

In [285]:
square = [x ** 2 for x in range(10)]

square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### List Comprehension with Condition

In [286]:
lst = []
for i in range(10):
    if i % 2 == 0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [287]:
even_numbers = [num for num in range(10) if num % 2 == 0]

print(even_numbers)

[0, 2, 4, 6, 8]

#### Nested List Comprehension

In [288]:
lst1 = [1, 2, 3, 4]
lst2 = ['a', 'b', 'c', 'd']

pair = [[i, j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

#### List Comprehension with Function Calls

In [289]:
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]

print(lengths)

[5, 5, 6, 4, 13]

## Tuple

### Creating Tuple

In [290]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [291]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [292]:
numbers = tuple([1, 2, 3, 4, 5])
numbers

(1, 2, 3, 4, 5)

In [293]:
list((1, 2, 3, 4, 5))

[1, 2, 3, 4, 5]

In [294]:
mixed_tuple = (1, "Andre", 3.14, True)
print(mixed_tuple)

(1, 'Andre', 3.14, True)

### Accessing Tuple Elements

In [295]:
numbers

(1, 2, 3, 4, 5)

In [296]:
print(numbers[2])
print(numbers[-1])

3
5

In [297]:
numbers[::-1]

(5, 4, 3, 2, 1)

### Tuple Operations

In [298]:
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Andre', 3.14, True)

In [299]:
mixed_tuple * 3

(1, 'Andre', 3.14, True, 1, 'Andre', 3.14, True, 1, 'Andre', 3.14, True)

### Immutable Nature of Tuple

In [300]:
lst = [1, 2, 3, 4, 5]
print(lst)

lst[1] = "Andre"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Andre', 3, 4, 5]

In [301]:
numbers[1] = "Andre" ## TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### Tuple Methods

In [ ]:
numbers

(1, 2, 3, 4, 5)

In [ ]:
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing Tuple
packed_tuple = 1, "Andre", 3.14
print(packed_tuple)

## Unpacking Tuple
a, b, c = packed_tuple
print(a)
print(b)
print(c)

(1, 'Andre', 3.14)
1
Andre
3.14

In [ ]:
## Unpacking with *
numbers = (1, 2, 3, 4, 5, 6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

### Nested Tuple

In [ ]:
nested_lst = [[1, 2, 3, 4], [5, 6, 7, 8], (1, "Andre", 3.14, True)]
nested_lst[2][0:3]

(1, 'Andre', 3.14)

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## Access the elements inside a tuple
print(nested_tuple[1][2])

c

In [ ]:
## Iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False

## Sets

### Creating Sets

In [ ]:
sets = {1, 2, 3, 4, 5}
print(sets)
print(type(sets))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
empty_sets = set()
print(type(empty_sets))

<class 'set'>

In [ ]:
sets = set([1, 2, 3, 4, 5])
print(sets)

{1, 2, 3, 4, 5}

In [ ]:
sets = set([1, 2, 4, 5, 3, 4, 5])
print(sets)

{1, 2, 3, 4, 5}

### Basic Sets Operations

In [ ]:
sets.add(6)
print(sets)
sets.add(6)
print(sets)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [ ]:
sets.remove(3)
print(sets)

{1, 2, 4, 5, 6}

In [ ]:
## sets.remove(3)

In [ ]:
sets.discard(3)
sets

{1, 2, 4, 5, 6}

In [ ]:
removed_element = sets.pop()
print(removed_element)
print(sets)

1
{2, 4, 5, 6}

In [ ]:
sets.clear()
print(sets)

set()

In [ ]:
sets = {1, 2, 3, 4, 5}
print(3 in sets)
print(10 in sets)

True
False

### Mathematical Operations

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

## Union
union_set = set1.union(set2)
print(union_set)

## Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{3, 4, 5, 6, 7}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

## Difference
print(set1.difference(set2))

{1, 2}

In [ ]:
## Symmetric Difference

set2.symmetric_difference(set1)

{1, 2, 6, 7}

### Sets Methods

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

## is subset
print(set1.issubset(set2))

## is superset
print(set1.issuperset(set2))

False
True

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5]
set(lst)

{1, 2, 3, 4, 5}

In [ ]:
## Counting unique words in text
text = "In this tutorial we are discussing about sets"
words = text.split()

## Convert list of words to set to get unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'In', 'sets', 'we', 'tutorial', 'discussing', 'this', 'are', 'about'}
8

## Dictionaries

### Creating Dictionaries

In [ ]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [ ]:
empty_dict = dict()
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [1]:
student = {
    "name": "Andre",
    "age": 19,
    "grade": 100
}

print(student)
print(type(student))

{'name': 'Andre', 'age': 19, 'grade': 100}
<class 'dict'>

In [ ]:
student = {
    "name": "Andre",
    "age": 19,
    "age": 100
}

print(student)

{'name': 'Andre', 'age': 100}

### Accessing Dictionaries

In [ ]:
student = {
    "name": "Andre",
    "age": 19,
    "grade": "A"
}

print(student["grade"])
print(student.get("name"))
print(student.get("last_name"))
print(student.get("last_name", "Not Available"))

A
Andre
None
Not Available

### Modifying Dictionaries

In [ ]:
print(student)

{'name': 'Andre', 'age': 19, 'grade': 'A'}

In [ ]:
student["age"] = 20 ## update value for the key
print(student)

student["address"] = "Indonesia" ## added a new key and value
print(student)

{'name': 'Andre', 'age': 20, 'grade': 'A'}
{'name': 'Andre', 'age': 20, 'grade': 'A', 'address': 'Indonesia'}

In [ ]:
del student["grade"] ## delete key and value pair

print(student)

{'name': 'Andre', 'age': 20, 'address': 'Indonesia'}

### Dictionaries Methods

In [302]:
keys = student.keys() ## get all the keys
print(keys)

values = student.values() ## get all the values
print(values)

items = student.items() ## get all key value pair
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Filbert', 20, 'Indonesia'])
dict_items([('name', 'Filbert'), ('age', 20), ('address', 'Indonesia')])

In [303]:
## Shallow Copy
student_copy = student

print(student)
print(student_copy)

{'name': 'Filbert', 'age': 20, 'address': 'Indonesia'}
{'name': 'Filbert', 'age': 20, 'address': 'Indonesia'}

In [304]:
student["name"] = "Angie"

print(student)
print(student_copy)

{'name': 'Angie', 'age': 20, 'address': 'Indonesia'}
{'name': 'Angie', 'age': 20, 'address': 'Indonesia'}

In [305]:
student_copy1 = student.copy() ## shallow copy

print(student)
print(student_copy1)

{'name': 'Angie', 'age': 20, 'address': 'Indonesia'}
{'name': 'Angie', 'age': 20, 'address': 'Indonesia'}

In [306]:
student["name"] = "Filbert"

print(student)
print(student_copy1)

{'name': 'Filbert', 'age': 20, 'address': 'Indonesia'}
{'name': 'Angie', 'age': 20, 'address': 'Indonesia'}

### Iterating Over Dictionaries

In [308]:
## Iterating over keys
for key in student.keys():
    print(key)

name
age
address

In [309]:
## Iterate over values
for value in student.values():
    print(value)

Filbert
20
Indonesia

In [310]:
## Iterating over key value pairs
for key, value in student.items():
    print(key, value)

name Filbert
age 20
address Indonesia

### Nested Dictionaries

In [311]:
students = {
    "student1": {
        "name": "Alya",
        "age": 20 
    },
    "student2": {
        "name": "Andre",
        "age": 19
    }
}

print(students)

{'student1': {'name': 'Alya', 'age': 20}, 'student2': {'name': 'Andre', 'age': 19}}

In [312]:
## Access nested dictionaries elements
print(students["student2"]["name"])
print(students["student2"]["age"])

Andre
19

In [313]:
## Iterating over nested dictionaries
for student_id, student_info in students.items():
    print(f"{student_id}: {student_info}")
    for key, value in student_info.items():
        print(f"{key}: {value}")

student1: {'name': 'Alya', 'age': 20}
name: Alya
age: 20
student2: {'name': 'Andre', 'age': 19}
name: Andre
age: 19

### Dictionary Comprehension

In [315]:
square = {x:x**2 for x in range(5)}

print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [316]:
## Conditional dictionary comprehension
evens = {x:x**2 for x in range(10) if x % 2 == 0}

print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [319]:
## Practical Examples

## Use a dictionary to count the frequency of elements in list
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
frequency = {}

for number in numbers:
    if number in frequency.keys():
        frequency[number] += 1
    else:
        frequency[number] = 1

for key, value in frequency.items():
    print(f"{key}: {value}")

1: 1
2: 2
3: 3
4: 4

In [320]:
## Merge 2 dictionaries into one
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}
merged_dict = {**dict1, **dict2}

print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [321]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}
merged_dict = {**dict2, **dict1}

print(merged_dict)

{'b': 2, 'c': 4, 'a': 1}

In [322]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}
dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 3, 'c': 4}