# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
## Assignment 1
tpl = tuple(range(1, 11))
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
## Assignment 2
print(tpl[0])
print(tpl[len(tpl) // 2])
print(tpl[-1])

1
6
10

In [6]:
## Assignment 3
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [7]:
## Assignment 4
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9),
)

for row in matrix:
    print(row)

print(matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [8]:
## Assignment 5
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concatenation_tpl = tpl1 + tpl2

print(concatenation_tpl)

(1, 2, 3, 4, 5, 6)

In [9]:
## Assignment 6
tpl = (1, 2, 3, 3, 4, 5, 6)
print(tpl.count(3))
print(tpl.index(3))

2
2

In [10]:
## Assignment 7
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [11]:
## Assignment 8
tpl = tuple(list(range(1, 6)))
print(tpl, type(tpl))

(1, 2, 3, 4, 5) <class 'tuple'>

In [12]:
## Assignment 9
nested_tpl = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

print(nested_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [13]:
## Assignment 10
tpl = tuple(range(1, 6))
print(tpl)

lst = list(tpl)
lst.append(6)

tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

In [18]:
## Assignment 11
str = "Andre"
tpl = tuple(str)

joined_str = "".join(tpl)
print(joined_str)

Andre

In [19]:
## Assignment 12
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}

print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [22]:
## Assignment 13
nested_tpl = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

for sub_tpl in nested_tpl:
    for item in sub_tpl:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [23]:
## Assignment 14
tpl = (1, 2, 3, 3, 4, 4, 4, 5, 6, 7)
print(tpl)

sets = set(tpl)
unique_tpl = tuple(sets)

print(unique_tpl)

(1, 2, 3, 3, 4, 4, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)

In [24]:
## Assignment 15
def min_in_tpl(tpl):
    return min(tpl)

def max_in_tpl(tpl):
    return max(tpl)

def sum_of_tpl(tpl):
    return sum(tpl)

tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tpl(tpl)}")
print(f"Maximum: {max_in_tpl(tpl)}")
print(f"Sum: {sum_of_tpl(tpl)}")

Minimum: 1
Maximum: 5
Sum: 15